body {
    background-color:darkseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-template-rows: repeat(19px 15px 19px);
    width: 109px;
    height: calc(19+15+19);
    grid-template-areas:
      "abbr number"
      "abbr  weight"
      "name  name";
    border: 1px solid black;
    background-color:rgb(242, 221, 63);
}
  
.name {
    grid-area: name;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
  
.abbr {
    grid-area: abbr;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
  
.number {
    grid-area: number;
    font-size:small;
    font-weight: bold;
    text-align: right;
}
  
.weight {
    grid-area: weight;
    font-size: 70%;
    text-align: right;
}

/* .name, .abbr, .number, .weight {
    border: 1px solid black;
} */