.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.one, .two, .three, .four, .five {
    background-color: blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    text-align: justify;
}

.container2 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.container3 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(20, 1fr);
}

.container4 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:auto;
}

.container5 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:auto;
}

@media screen and (max-width: 500px) {
    .container5 {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 40px 40px 40px 40px;
    }
    .one, .two, .three, .four, .five {
        background-color: red;
    }
}

@media screen and (min-width: 1000px) {
    .container5 {
        grid-template-columns: repeat(20, 1fr);
    }
    .one, .two, .three, .four, .five {
        background-color: yellow;
    }
}